@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

footer {
    display: flex;
    flex-direction: column;
    background-color: #222222;
    width: 100%;
}

.footer-big-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 9.38vw;
    margin-top: 4.7vw;
    margin-bottom: 3.33vw;
}

.intro-div {
    display: flex;
    flex-direction: column;
    gap: 3.2vw;
}

.footerTittle {
    color: #D9D9D9;
    font-family: 'Lato';
    font-size: 1.62vw;
    font-weight: bold;
    margin: 0;
}

.footerIntro {
    color: #D9D9D9;
    font-family: 'Lato';
    font-size: 1.33vw;
    font-weight: 400;
    width: 22.25vw;
    margin: 0;
}

.navegationTittle {
    color: #FF350F;
    font-family: 'Lato';
    font-size: 1.62vw;
    font-weight: 600;
    margin-top: 4.9vw;
    margin-bottom: 0;
}

.navegationList {
    color: #D9D9D9;
    font-size: 1.33vw;
    font-weight: 300;
    list-style: none;
    margin-top: 2.08vw;
    margin-bottom: 0;
    padding: 0;
}

.navegationList li {
    padding-bottom: 0.7vw;
}

.contactTittle {
    color: #FF350F;
    font-family: 'Lato';
    font-size: 1.62vw;
    font-weight: 600;
    margin-top: 4.9vw;
    margin-bottom: 0;
}

.contactList {
    color: #D9D9D9;
    font-size: 1.33vw;
    font-weight: 300;
    list-style: none;
    margin-top: 2.08vw;
    margin-bottom: 0;
    padding: 0;
}

.contactList li {
    padding-bottom: 0.7vw;
}

.footerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.9vw;
    gap: 1.8vw;
}

@media screen and (max-width: 845px) {
    .footerForm {
        margin-top: 0;
        gap: 1.8vw;
    }
    
}

@media screen and (max-width: 431px) {
    .footer-big-div {
        flex-direction: column;
        align-items: center;
        gap: 5vw;
        margin-top: 10vw;
        margin-bottom: 8.63vw;
    } 

    .footerTittle {
        font-size: 3vw;
        text-align: center;
    }
    
    .footerIntro {
        font-size: 2.71vw;
        width: 46vw;
        text-align: center;
    }

    .navegationTittle {
        font-size: 3vw;
        margin-top: 0;
        text-align: center;
    }
    
    .navegationList {
        font-size: 2.71vw;
        text-align: center;
    }

    .navegationList li {
        padding-bottom: 1.2vw;
    }

    .contactTittle {
        font-size: 3vw;
        margin-top: 0;
        text-align: center;
    }
    
    .contactList {
        font-size: 2.71vw;
        text-align: center;
    }

    .contactList li {
        padding-bottom: 1.2vw;
    }
}

.footer-small-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5.76vw;
    gap: 49.8vw;
    border-top: 0.07vw solid white;
}

.footer-small-div h3 {
    color: #D9D9D9;
    font-family: 'Lato';
    font-size: 1.33vw;
    font-weight: 300;
    margin: 0;
}
