@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Lato';
    font-weight: 500;
    border: none;
    cursor: pointer;
}