@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.projects-screen-div {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, rgb(41, 39, 39), rgb(0, 0, 0));
    width: 100%;
}

.projectsScreenTittle {
    color: #FF350F;
    font-family: 'Lato';
    margin-top: 224px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 70px;
}

.projects-div {
    display: grid;
    grid-template-columns: 321px 321px 321px;
    justify-content: center;
    gap: 60px;
    margin-bottom: 154px;
}